[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/pathogen.vim"]
	path = bundle/pathogen.vim
	url = https://github.com/vim-scripts/pathogen.vim.git
